.ant-select-dropdown .ant-select-item-option:hover,
.ant-select-dropdown .ant-select-item-option-active,
.ant-select-dropdown .ant-select-item-option:focus,
.ant-select-dropdown .ant-select-item-option-selected {
  background-color: #e6f7ff !important;
  color: #1d39c4 !important;
  font-weight: 500 !important;
}

.ant-select-dropdown .ant-select-item-option:hover,
.ant-select-dropdown .ant-select-item-option-active {
  background-color: #cae5f7 !important;
}

.ant-select-dropdown .ant-select-item mark {
  background-color: transparent !important;
  color: #0958d9 !important;
  font-weight: 600;
}

.ant-select-dropdown {
  border-radius: 8px !important;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}
